@inherits LayoutComponentBase
@using DJBrate.Web.Components.Shared

<div class="layout">
    <NavMenu />
    <main class="main-content">
        @Body
    </main>
</div>

<PlaybackBar />

<div id="spotify-embed"></div>
